PORT=3000
NODE_ENV=development

# WhatsApp
PUPPETEER_HEADLESS=true
WHATSAPP_TIMEOUT=30000
PUPPETEER_EXECUTABLE_PATH=

# Proxy (opcional - para contornar bloqueios)
PROXY_URL=

# Telegram (opcional - token padrão)
TELEGRAM_TOKEN=
